In [ ]:
#1)Unique Words in a Sentence
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)
print("Count of Unique words",len(unique_words))
print(unique_words)

Enter sentence: python is easy and python is powerful
Count of Unique words 5
{'and', 'powerful', 'easy', 'python', 'is'}

In [ ]:
#2)Highest Salary from Employee Data
employees = {"Ravi": 75000,"Anita": 68000,"Kiran": 72000}
highest_salary = max(employees.values())
print("highest salary:",highest_salary)

highest salary: 75000

In [ ]:
#3)Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]
min_number = min(numbers)
max_number = max(numbers)
print("Minimum number:",min_number)
print("Maximum number:",max_number)

Minimum number: 10
Maximum number: 89

In [ ]:
#4)Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count=0
for price in prices:
    if price > 1000:
      count+=1
print("Products above 1000:",count)

Products above 1000: 2

In [ ]:
#5)Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
present_days = attendance.count("P")
total_days = len(attendance)
attendance_percentage = (present_days / total_days)*100
print("Attendance Percentage:",attendance_percentage)

Attendance Percentage: 80.0

In [15]:
#6)Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9000124392, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:",unique_numbers)

Unique phone numbers: {9000124392, 9876543210}

In [13]:
#7)Count Character Frequency
text="sathviksk"
char_count={}
for char in text:
    if char in char_count:
        char_count[char]+=1
    else:
        char_count[char]=1
print(char_count)

{'s': 2, 'a': 1, 't': 1, 'h': 1, 'v': 1, 'i': 1, 'k': 2}

In [16]:
#8)Convert List to Tuple
numbers= [1,3,3,5]
print(tuple(numbers))

(1, 3, 3, 5)

In [19]:
#9)Check if a Key Exists in a Dictionary
data = {"employee":"sathvik", "age":20}
if "employee" in data:
  print("employee exists")
else:
  print("employee does not exist")

employee exists

In [20]:
#10)Calculate Average Marks
marks=[10,50,70]
average_marks=sum(marks)/len(marks)
print(average_marks)

43.333333333333336